body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 1em;
  }
  
  article {
    margin-bottom: 1em;
  }
  
  .post-date {
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }